<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      <%- include('partials/header') %>

      <h1>kya re chammiya? secret janega mera tu?</h1>
      <h1>
        ma ki chut teri, chal jaldi sahi password daal nhi to bhak paise de fir
        aage badh
      </h1>
      <h1>ma ka dalal bhk bsdk</h1>
      <%- include('partials/footer') %>
    </h1>
  </body>
</html>
